
.descripcionComentariosContenedor{
    height: 1400px;
    background-color: #f8f8f8;
}
.descProducto{
    font-family: PoppinsSemiBold;
    font-size: 22px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.91;
    letter-spacing: normal;
    color: #2c2c2c; 
}

.descProducto~p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #000000;
}

.imgMarcaDetalle{
    float: right;
    width: 78px;
    height: 49px;
    /* display:flex;
    margin:auto; */
}

.caracteristicasDetalle{

    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #000000;

}

.borderDetalle{
    border-bottom: 1px solid black;
}

.caracteristicasDetalle>strong{
    font-family: PoppinsSemiBold;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #000000;
}

.btnResenas{
    width: 191px;
    height: 56px;
    font-family: PoppinsBold;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: center;
    text-transform: none;
    border-radius: 10px!important;
    -webkit-border-radius: 10px!important;
    -moz-border-radius: 10px!important;
    -ms-border-radius: 10px!important;
    -o-border-radius: 10px!important;
}

.btnPreguntas{
    width: 280px;
    height: 56px;
    font-family: PoppinsBold;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: center;
    text-transform: none;
    margin-left: 27px!important;
    border-radius: 10px!important;
    -webkit-border-radius: 10px!important;
    -moz-border-radius: 10px!important;
    -ms-border-radius: 10px!important;
    -o-border-radius: 10px!important;
}

.btnEstilo1{
    background-color: #888888;
    color: #ffffff;

}

.btnEstilo2{
    background-color: #ffffff;
    color: #000000;
    border: solid 1px #000000;

}

.comentariosContenedor{
    width: 100%;
    height:948px;
    background-color: #ffffff;
    margin-top: 40px;
    padding: 30px;
}

.contenedorRespuestas{
    width: 100%;
    height:658px;
    margin-top: 40px;
    padding: 0px;
    overflow-y: scroll;
    margin-bottom: 26px;
}

.contenedorResenas{
    overflow-y: scroll;
    height:658px;
    
}

.textoPorcentaje{
    font-family: Poppins!important;
    font-size: 16px!important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #000000;
}

#tienesPregunta{
    border-radius: 10px;
    border: solid 1px #000000;
}

.respuestaTienda{
    margin-bottom: 45px;
}

.respuestaTienda>p{
    margin-bottom: 0.5px;
}

.fechaPregunta{
    font-family: Poppins;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.85;
    letter-spacing: normal;
    color: #6f6f6f;
    margin:7px 0px!important ;
}

.masRespuestas{
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #6f6f6f;
    margin-top: 7px;
    border-bottom: 1px solid  #6f6f6f;
}

.masOpiniones{
    width: 195px;
    height: 41px;
    border-radius: 5px;
    background-color: #7588b1;
    text-transform: none;

    font-family: PoppinsSemiBold;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.accionesCompra{
    position: relative;
    padding: 0px 6px;
    top:-8px;
}

.textoAccionesCompra{
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #6f6f6f;
}

.compartir{
    font-family: PoppinsSemiBold;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2c2c2c;
    margin: 20px 0px;
}

.compartir  img{
    width: 33px;
    height: 33px;
}

.iconoFace{
position: relative;
bottom: 2px;
}
.iconoPinteres{
    width: 34px!important;
    height: 34px!important;
}

.contenedorCalificacionRangos{
    background-color: #ffffff;
    padding: 20px!important;
}

.tituloEvaluaciones{
    font-family: PoppinsBold;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.textoRangos{
    font-family: PoppinsSemiBold;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #2c2c2c;
    margin-bottom: 0px;
}

/*RANGOS*/
.rangosCalificaciones{
  height: 0px!important;
}

.custom-range::-webkit-slider-thumb {
    background: rgb(0, 0, 0);
  }
  
  .custom-range::-moz-range-thumb {
    background: rgb(0, 0, 0);
  }
  
  .custom-range::-ms-thumb {
    background: rgb(0, 0, 0);
  }

  /*RESEÑAS*/
.textResenas1{
    font-family: PoppinsSemiBold!important;
    font-size: 35px!important;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.57;
    letter-spacing: normal;
    color: #2c2c2c;
}  

.textResenas2{
    font-family: PoppinsBold;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    color: #2c2c2c;
}

.textResenas3{
    font-family: Poppins;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.85;
    letter-spacing: normal;
    color: #000000;
}

.textResenas4{
    font-family: PoppinsBold;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #000000;
}

.textResenas5{
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #000000;
}

.colorUtil{
    color: #6f6f6f!important;
}

.colorUtil a{
    color: #6f6f6f!important;
}

.imgResena{
    width: 180px;
    height: 128px;
}