.bannerListaProducto{
    position: relative;
    width: 1200px;
    height: 200px;
}

    .textoBannerLP-1{
        position: absolute;
        top: 0px;
        left: 0; 
         right: 0;
        padding:45px;
    }

    .textoBannerLP-2{
        position: absolute;
        top: 40px;
        left: 0; 
        right: 0;
        padding:45px;
    }

    .textoBannerLP-3{
        position: absolute;
        top: 75px;
        left: 0; 
        right: 0;
        padding:45px;
    }


    .view p  { top: 5px; margin: 0 10px 0 0; } 
    .view p,
    .view a { 
        float: left; 
        display: inline-block;
        text-decoration: none;
        position: relative;
    }
    .icon-grid {
        background: url("../../../img/imgOficial/iconos_logos/grid-view.png") no-repeat 0 0;
        height: 16px;
        width: 16px;
        top: 7px;
    }
    .icon-list {
        background: url("../../../img/imgOficial/iconos_logos/list-view.png") no-repeat 0 0;
        height: 32px;
        width: 32px;
    }

    


.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}
.thumbnail
{
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
}
.item.list-group-item .img-event {
    float: left;
    width: 30%;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
    display: inline-block;
}
.item.list-group-item .caption
{
    float: left;
    width: 70%;
    margin: 0;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item:after
{
    clear: both;
}

.btnAgregarLista{

    width: 138px;
    height: 33px;
    border-radius: 10px;

    font-family: PoppinsBold;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: -0.2px;
    text-align: center;
    color: #ffffff;

    text-transform: none;

}

.favoritoLista{
    width: 23px;
    height: 21px;

}

.marginTopTemporal{
    margin-top: 45px;
}

.group .list-group-image .img-fluid{
height: 12px!important;
}

.imgBorder-B-lista{
    border-bottom: solid 1px #bababa;

}

.imgBorder-R-lista{
    border-right:  solid 1px #bababa;
}

.contenedorFiltros{
    padding: 20px;
    background-color:#ffff;
    height: auto;
}




/*//////////////////////////////////7*/

.borderNavbarPL{
    border-bottom: solid 0.5px #bababa;
}

.custom-range::-webkit-slider-thumb {
    background: rgb(0, 0, 0);
  }
  
  .custom-range::-moz-range-thumb {
    background: rgb(0, 0, 0);
  }
  
  .custom-range::-ms-thumb {
    background: rgb(0, 0, 0);
  }


  .tallas{
    border:  2px solid rgba(0, 0, 0, 0.1);
    height: 39px;
    padding: 3px 15px;
    cursor: pointer;
}



.tallas>p{
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #2c2c2c;
    text-align: center;
    margin-bottom: 0px;
   align-self: center;
   cursor: pointer;
}


.tallas:hover{
    background-color: black;
}
.tallas>p:hover{
    color: #ffffff;
}