.tituloCatalogos{
    font-family: Poppins!important;
    font-size: 40px!important;
    font-weight: bold!important;
    font-stretch: normal!important;
    font-style: normal!important;
    line-height: normal!important;
    letter-spacing: normal!important;
    text-align: center;
    color: #000000;
    margin-top: 86px;
    margin-bottom: 45px;
    
}
.textoTarjetaCatalogos{
    font-family: Poppins!important;
    font-size: 18px!important;
    font-weight: bold!important;
    font-stretch: normal!important;
    font-style: normal!important;
    line-height: 1.33!important;
    letter-spacing: normal!important;
    color: #000000;
  
}

.textoTarjetaCatalogosVer{
    font-family: Poppins!important;
    font-size: 18px!important;
    font-weight: 600!important;
    font-stretch: normal!important;
    font-style: normal!important;
    line-height: 1.67!important;
    letter-spacing: normal!important;
    color: #7588b1!important;
    text-decoration: none;
    text-transform: none;
}