.categoriasNavbar {
    height: 99px!important;
}

.textoTitulosCategorias{
    font-family: Poppins!important;
    font-size: 15px!important;
    font-weight: bold!important;
    font-stretch: normal!important;
    font-style: normal!important;
    line-height: 1.13!important;
    letter-spacing: 0.11px!important;
    color: #000000!important;
}

.dropdown:hover .dropdown-menu {display: block;}

.dropdown-toggle::after {
    display: none!important;
}

/*ELIMINAR EL MARGIN DE BUSCAR Y CARRTIO*/
.buscarCarrito{
    margin-top: 0px!important;
    padding-top: 11px!important;
}


/*Modificación al form de busqueda */
#buscarProducto {
    height: auto!important;
    padding: .0rem 0 .0rem 0!important;
    margin: 0 0 .0rem 0!important;
    background-color: transparent!important;
    border-radius: 0!important;
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    -ms-border-radius: 0!important;
    -o-border-radius: 0!important;
}
/* .md-form {
    margin-bottom: 0px!important;
    margin-top: 0px!important;
}  */


.fa-lg{
font-size: 22px;
}


@media (max-width:767px){
    .categoriasNavbar {
        height: 50px!important;
    }
    
    .textoTitulosCategorias{
        font-family: Poppins!important;
        font-size: 15px!important;
        font-weight: bold!important;
        font-stretch: normal!important;
        font-style: normal!important;
        line-height: 1.13!important;
        letter-spacing: 0.11px!important;
        color: #000000!important;
    }
    
    .dropdown:hover .dropdown-menu {display: block;}
    
    .dropdown-toggle::after {
        display: none!important;
    }
    
    /*ELIMINAR EL MARGIN DE BUSCAR Y CARRTIO*/
    .buscarCarrito{
        margin-top: 0px!important;
        padding-top: 11px!important;
    }
    
    
    /*Modificación al form de busqueda */
    #buscarProducto {
        height: auto!important;
        padding: .0rem 0 .0rem 0!important;
        margin: 0 0 .0rem 0!important;
        background-color: transparent!important;
        border-radius: 0!important;
        -webkit-border-radius: 0!important;
        -moz-border-radius: 0!important;
        -ms-border-radius: 0!important;
        -o-border-radius: 0!important;
    }
    /* .md-form {
        margin-bottom: 0px!important;
        margin-top: 0px!important;
    }  */
    
    
    .fa-lg{
    font-size: 22px;
    }
    
}