.footerImpuls{
    height: 514px!important;
    background-color: black;
    padding: 162px  172px 25px 125px!important;
}

.textoFoooter{
    font-family: PoppinsBold;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.29px;
    color: #ffffff;
}

.textoFoooterSecundario{
  font-family: Poppins;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.27px;
  color: #ffffff;
  margin-bottom: 0rem!important;
}

.imgFooter{
    padding-top: -30px!important;
}

.linea{
    margin-bottom: -25px!important;
    border-bottom: 0.5px solid #ffff;
}

.impulsBlanco{
    margin: 0px 80px 58px 0px;
}

.derechosReservados{
    font-family: Poppins;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.27px;
    color: #ffffff;
    margin-top: 30px!important;
}

.vinculoTerminosPrivacidad {
    text-decoration: none;
    color: black;
}