
/*IMAGENES FLOTANTES*/

    .rowFlotante{
        position: relative;
        height: 472px;
        width: 100%;
    }

    .titulosFlotantes{
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.94;
        letter-spacing: 0.13px;
        color: #ffffff;
    }

    .subTitulosFlotantes1{
        font-family: PoppinsSemiBold;
        font-size: 35px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.14;
        letter-spacing: normal;
        color: #ffffff;
    }
    .subTitulosFlotantes2{
        font-family: PoppinsExtramBold;
        font-size: 75px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.53;
        letter-spacing: normal;
        color: #ffffff;
      }

      .textoBtnFlotante{
        font-family: PoppinsBold;
        font-size: 17px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.18;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff!important;
        margin-bottom: 0px!important;
    }

    .divFlotante1{
        border-radius: 20px;
        box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
        background-image: radial-gradient(circle at 11% 1%, #c2bba1, #877548 117%);
        position:absolute;
        width:35%;
        height:133%;
        left: 8%;
        bottom: 0px;
        z-index: 9999999;
        padding: 2.5%;
    }

    .divFlotante2{
        border-radius: 20px;
        box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
        background-image: linear-gradient(104deg, #616161 -10%, #616161 116%);
        position: absolute;
        width: 50%;
        height:64%;
        right: 4%;
        bottom: 69%;
        z-index: 9999999;
        padding: 2.5%;

    }

    .divFlotante3{
        border-radius: 20px;
        box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
        background-image: linear-gradient(110deg, #774363 -7%, #c26ea2 98%);
        position: absolute;
        width: 50%;
        height:64%;
        right: 4%;
        bottom: 0%;
        z-index: 9999999;
        padding: 2.5%;
    }

    /*IMAGEN FLOTANTE 1*/
    .imagenFlotante1{
        position:relative;
        left: 7%;
    } 

    .btnImgFlotante1{
       width: 166px;
       height: 52px;
       border-radius: 10px;
       background-color: #c9be9b!important;
       text-transform: none;
       border-radius: 11px!important;
       -webkit-border-radius: 11px!important;
       -moz-border-radius: 11px!important;
       -ms-border-radius: 11px!important;
       -o-border-radius: 11px!important;
    }

    /*IMAGEN FLOTANTE 2*/
    .imagenFlotante2{
        position: relative;
        bottom: 28px;
        left: -35%;
    } 
    .btnImgFlotante2{
        position: relative;
        width: 166px;
        height: 52px;
        top: 20px;
        background-color: #ababab;
        text-transform: none;
        padding: 14px 43px!important;
        border-radius: 10px!important;
        -webkit-border-radius: 10px!important;
        -moz-border-radius: 10px!important;
        -ms-border-radius: 10px!important;
        -o-border-radius: 10px!important;
    }
  

    /*IMAGEN FLOTANTE 3*/
    .imagenFlotante3{
        position: relative;
        bottom: 15px;
        left: -12%;  
    } 

      .btnImgFlotante3{
         bottom: -18px;
         text-transform: none;
         padding: 14px 43px!important;
         width: 166px;
         height: 52px;
         background-color: #e98dc6;
         border-radius: 10px!important;;
         -webkit-border-radius: 10px;
         -moz-border-radius: 10px;
         -ms-border-radius: 10px;
         -o-border-radius: 10px;
}


/*=============================================
ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
=============================================*/

@media (min-width:1200px){

}

/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/

@media (max-width:1199px) and (min-width:992px){
 

}

/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/

@media (max-width:991px) and (min-width:768px){


    
}

/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/

@media (max-width:767px){


	
}

