
/*Agegamos bordes al navbar de acciones de usaurio*/
.itemsNavbarUsuario{
    border-left: 2px solid rgba(0, 0, 0, 0.1);
    margin:0 10px;
}

/*Agegamos bordes al navbar de acciones de usaurio (solo al primero)*/
.justify-content-center>.navbar-nav >.nav-item:nth-child(1){
    border-left: 0px solid black;
}


/*Quitamos padding y box-shadow de los navbar */
.skin-light .navbar {
    min-height: 20px;
    padding: 0px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 0px 0 rgba(0, 4, 255, 0);
    box-shadow: 0 13px 20px 0 rgba(243, 0, 0, 0);
}


/*Agregamos EStilos al texto al primer navbar */
.textoNavbar{

    font-family: Poppins!important;
    font-size: 13px!important;
    font-weight: normal!important;
    font-stretch: normal!important;
    font-style: normal!important;
    line-height: 1.77!important;
    letter-spacing: -0.09px!important;
    text-align: center!important;
    color: #6f6f6f;
}

.textoGratis{
    font-family: Poppins!important;
    font-size: 13px!important;
    font-weight: bold!important;
    font-stretch: normal!important;
    font-style: normal!important;
    line-height: 1.77!important;
    letter-spacing: -0.09px!important;
    text-align: center;
    color: #6f6f6f;
}

.textNavbarNegro{
    font-family: Poppins;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.92;
    letter-spacing: -0.17px;
    text-align: center;
    color: #ffffff;
    padding: 0px 21px;
}








/*=============================================
ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
=============================================*/

@media (min-width:1200px){

}

/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/

@media (max-width:1199px) and (min-width:992px){

    /*Categorías*/
    .justify-content-left>.navbar-nav >.nav-item>a>small{
        margin-left: 0px;
        font-size: 9.5px;
    
    }


}

/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/

@media (max-width:991px) and (min-width:768px){

        /*Modificamos  margin-left de navbar categorias */
        .justify-content-left>.navbar-nav >.nav-item>a>small{
            margin-left: 0px;
            font-size: 12px;
        
        }

        /*Modificamos  margin-left de navbar categorias (solo al primero)*/
        .justify-content-left>.navbar-nav >.nav-item:nth-child(1){

            margin-left: 0px;
        }

        /*Modificamos  margin-left de navbar de categorias*/
        .justify-content-left>.navbar-nav >.nav-item>a>small{
            margin-left: 0px;
            font-size: 10px;
        }

        /*Modificación al form de busqueda */
        .md-form {
            margin-bottom: 0px;
            margin-top: 0px;
            padding-left: 4px;
        }


         /*Modificamos  carrito de compras/lupa/corazón navbar de categorias*/
        .col-auto {
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            width: auto;
            max-width: 100%;
            padding-left: 2px;
        }

        /*BOTON VER MAS DESTACADOS*/
        .skin-light .btn.btn-md {
            font-size: 15.24px;
            padding: 5px;
            width: 100%;
            margin-top:17px ;
        }


}

/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/

@media (max-width:767px){

    /*Modificamos  Acciones del cliente */
    .justify-content-center>.navbar-nav >.nav-item{
        border-left: 0px solid black;
        margin:0px;
    }

        /*Modificamos  margin-left de navbar categorias */
        .justify-content-left>.navbar-nav >.nav-item>a>small{
        margin-left: 0px;
        font-size: 12px;
    }

    /*Modificamos  margin-left de navbar categorias (solo al primero)*/
        .justify-content-left>.navbar-nav >.nav-item:nth-child(1){

            margin-left: 0px;
        }

        /*Modificación al form de busqueda */
        .md-form {
            margin-bottom: 0px;
            margin-top: 0px;
            padding-left: 4px;
        }

    /*Modificamos  carrito de compras/lupa/corazón navbar de categorias*/       
        .col-auto {
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            width: auto;
            max-width: 100%;
            padding-left: 2px;
        }
        
}

