
/*BOTON VER MAS DE RECOMENDADOS*/
.skin-light .btn.btn-md {
    font-size: 12.24px;
    padding: 5px;
}




/*Fodo Recomendados*/
.recomendados{
    height: 580px;
    background-color: #efefef;
    margin-bottom: 114px !important;
}

.tituloRecomendados{
    font-family: PoppinsExtramBold;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000!important;
}

.tituloRecomendadosSecundario{
    font-family: Poppins;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #000000!important;

}

.precioTarjeta{
    font-family: Poppins;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #000000!important;
}

.btnRecomendados{
    width: 99px;
    height: 30px;
    border-radius: 5px;
    background-color: #7588b1;
}

.TextoBtnRecomendados{
    width: 99px;
    height: 30px;
    border-radius: 5px;
    background-color: #7588b1;
}

/*Imagenes de tarjetas*/
.imgRadius {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 90%;
    top: -45px;
    position: relative;
    align-self: center;
    border-radius: 25px;
    left: 5%;
    height: 213px;
    width: 244px;
}
/*Sobreescribimos el css por deefcto de la imagen en las tarejtas*/
.skin-light .card-img-top {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

/*Acortamos la distancia entre la imagen y la descripcion*/
.textoTarjeta1{
    margin-top: -12%;
    font-family: PoppinsSemiBold;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #000000!important;
}
.textoTarjeta2{
    font-family: PoppinsBold;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #000000!important;
}

.textoTarjeta3{
    font-family: PoppinsSemiBold;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: -0.42;
    color: #000000!important;
}

/*Posición de badge Recomendados*/
.etiquetaRecomendados{
     position: absolute;
     top: -8%;
     left: 12%;
     width: 74px!important;
     height: 30px!important;
     border-radius: 5px!important;
     background-color: #888888!important;
     -webkit-border-radius: 5px!important;
     -moz-border-radius: 5px!important;
     -ms-border-radius: 5px!important;
     -o-border-radius: 5px!important;
}

/*Posición de badge Recomendados*/
.etiquetaRecomendadosOferta{
    position: absolute;
    bottom: 60%;
    left: 62%;
    width: 74px!important;
    height: 30px!important;
    border-radius: 5px!important;
    background-color: #f75454!important;
    -webkit-border-radius: 5px!important;
    -moz-border-radius: 5px!important;
    -ms-border-radius: 5px!important;
    -o-border-radius: 5px!important;
}

.btnRecomendados{
    width: 99px!important;
    height: 30px!important;
    border-radius: 5px!important;
    background-color: #7588b1!important;
}


@media screen and (min-width:1600px){
   /*Imagenes de tarjetas*/
.imgRadius {
    -ms-flex-negative: 0;
    flex-shrink: 0;

    top: -45px;
    position: relative;
    align-self: center;
    border-radius: 25px;
    left: 5%;
    height: 90%;
    width: auto;
} 

}

/*=============================================
ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
=============================================*/

@media (min-width:1200px){

}

/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/

@media (max-width:1199px) and (min-width:992px){

            /*Posición de badge Recomendados*/
        .badgeRecomendadosOferta{
            position: absolute;
            bottom: 62%;
            left: 47%;
        } 
   



}

/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/

@media (max-width:991px) and (min-width:768px){

    
}

/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/

@media (max-width:767px){
  

 
}

