.videoImpuls{
    position: relative;
    height: 744px;
    background-image:url("../../img/iconos/fondo-otros-servicios-2.png");
    padding: 177px 118px 194px 117px!important;
    margin-top: 139px!important;
    margin-bottom: 86px!important;
 }


 .tituloVideoImpuls{
  font-family: Poppins;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
 }
 
 .tituloVideoImpuls2{
    font-family: Poppins;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: -0.47px;
    color: #ffffff!important;
 }

 .btnVideoImpuls{
  width: 174px!important;
  height: 58px!important;
  border-radius: 10px;
  background-color: #ffffff;
  text-transform: none;
 }

 .textoBtnVideoImpils{
    font-family: FuturaStd!important;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: -0.3px;
    text-align: center;
    color: #000000;
 }