.textoVistosRecientemente{
    font-family: PoppinsExtramBold;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin-top: 50px;
    margin-bottom: 45px;
}

/*Fodo Recomendados*/
.visto{
    height: 580px;
    background-color: #efefef;
    margin-bottom: 214px !important;
}

.imgVistos{
    display:block;
    margin:auto;
    margin-bottom: 30px;
    width: 200px;
    height: 200px;
}

/*=============================================
ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
=============================================*/

@media (min-width:1200px){

}

/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/

@media (max-width:1199px) and (min-width:992px){

}

/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/

@media (max-width:991px) and (min-width:768px){


    
}

/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/

@media (max-width:767px){
    .textoVistosRecientemente{
        font-family: PoppinsExtramBold;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
        margin-top: 60px;
        margin-bottom: 5px;
     
    }

    .imgVistos{
		width: 100px!important;
		height: 100px!important;
    }
    
    /*Fodo Recomendados*/
.visto{
    height: 850px;
    background-color: #efefef;
    margin-bottom: 0px !important;
}

}

