.box_Snone{
    box-shadow: none !important;
}
.aviso_privacidad ul {
    list-style-position: outside;
}
.ol{
    list-style: lower-latin;
}
li a{
    color: black;
}
.aviso_privacidad h1{
    font-family: Poppins;
    font-size: 40px !important;
    font-weight: bold !important;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.08;
    letter-spacing: normal;
    color: #000000;
}
.bnt_car_color {
    text-transform: none!important;
    border-radius: 8px !important;
    background-color: #7588b1 !important;
    font-family: Poppins;
    font-size: 18px !important;
    font-weight: bold !important;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.cont{
    margin-bottom: 150px!important;
}
.sinap{
    list-style: none;
}
.li_i{
    list-style: initial;
}
.aviso_privacidad p{
    font-family: Poppins;
    font-size: 16px!important;
    font-weight: normal!important;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2c2c2c;
    text-align: justify;
}
.aviso_privacidad h5{
    font-family: Poppins;
    font-size: 16px!important;
    font-weight: normal!important;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2c2c2c;
}
.ap_linea li{
    list-style-position: outside;
    list-style: none;
}
.ap_linea li::before {
   
    display: inline-block;
    content: '-';
    margin-right: 0.5rem;
}
.menu_temas h2{
    font-family: Poppins;
    font-size: 24px!important;
    font-weight: bold!important;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #000000;
}
.menu_temas ul li{
    font-family: Poppins;
    font-size: 16px!important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.13;
    letter-spacing: normal;
    color: #2c2c2c;
    cursor: pointer;
}

.menu_temas ul li:hover{
    font-family: Poppins;
    font-size: 16px!important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.13;
    letter-spacing: normal;
    color: #2c2c2c;
}
.menu_temas ul  .activo{
    font-family: Poppins;
  font-size: 16px!important;
  font-weight: bold!important;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.13;
  letter-spacing: normal;
  color: #2c2c2c;
}
.numerico{
    list-style: decimal;
}
.input_datos {
    border-radius: 10px;
    border: solid 1px #000000;
}
.sizeimg{
width: 200px;
height: auto;
}