@media only screen and (max-width: 900px) {
    .menu_temas h2{
        font-family: Poppins;
        font-size: 30px!important;
        font-weight: bold!important;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
       
    }
    .icon{
        font-size: 18px!important;
        font-weight: normal!important;
        padding-right: 9px;
    }
    .aviso_privacidad h1 {
        font-size: 27px !important;
        font-weight: bold !important;
    }
    .rastre_title{
        font-size: x-large !important;
    }
    .btn_rastreo{
        margin-top: 10px;
    }
    .imgRadius-a {
        height: 100% !important;  
    }
    .textoTarjeta1{
        font-size: 20px;
    }
    .btnRecomendados {
        width: 99px!important;
        height: auto !important;
        font-family: PoppinsSemiBold;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.23;
        letter-spacing: -0.2px;
        color: #ffffff!important;
        text-transform: none;
    }
    .slider.slider-horizontal .slider-tick-label-container .slider-tick-label {
        margin-top: 14px;
        font-size: 1vh!important;
    }
    .label-in-selection b {
        padding-left: 4px;
        margin-top: 3px;
        color: #7588b1 !important;
        font-size: 11px;
        font-weight: 600;
    }
    .slider-tick-label {
        padding-left: 4px;
        margin-top: 4px;
        font-weight: 600;
        font-size: 11px;
    }
  }