@font-face{
  font-family: Poppins;
  src: url(fuentes/poppins/regular/Poppins-Regular.woff);
}

@font-face{
  font-family: PoppinsSemiBold;
  src: url(fuentes/poppins/semiBold/Poppins-SemiBold.woff);
}

@font-face{
  font-family: PoppinsBold;
  src: url(fuentes/poppins/bold/Poppins-Bold.woff);
}

@font-face{
  font-family: PoppinsExtramBold;
  src: url(fuentes/poppins/extraBold/Poppins-ExtraBold.woff);
}

@font-face{
  font-family: PoppinsBlack;
  src: url(fuentes/poppins/black/Poppins-Black.woff);
}

@font-face{
  font-family: PoppinsExtraBoldItalic;
  src: url(fuentes/poppins/extraBoldItalic/Poppins-ExtraBoldItalic.woff);
}
