.colorPrimario{
    background-color: #000000;
    /* color: #ffffff; */
}
.colorSecundario{
    background-color: #7588b1;
    color: #ffffff;
}

.colorFondoPrimario{
    background-color: #f8f8f8;
}

.textoTitulosSeccion{
    font-family: PoppinsExtramBold;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

    
.etiqueta{
    width: 74px!important;
    height: 30px!important;
    background-color: #bababa!important;
    border-radius: 5px!important;
    -webkit-border-radius: 5px!important;
    -moz-border-radius: 5px!important;
    -ms-border-radius: 5px!important;
    -o-border-radius: 5px!important;
}

    .textoEtiqueta{
        font-family: Poppins;
        font-size: 13px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.23;
        letter-spacing: 0.01px;
        text-align: center;
        color: #ffffff!important;
        margin-top: 4px!important;
    }






/*=====================================
============= TIPOGRAFIA ==============
======================================*/

.poppinsBold18LP{
    font-family: PoppinsBold;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 0px;
}

.poppins15LP{
    font-family: Poppins;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: -0.42px;
    color: #000000;
}

.poppinsSemiBold16LP{
  font-family: PoppinsSemiBold;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000000;

}

.poppins12LP{
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #6f6f6f;
    margin: 0px;
}


.poppinsBold35{
    font-family: PoppinsBold;
    font-size: 35px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: #000000;
}


.poppinsSemiBold24LP{

    font-family: PoppinsSemiBold;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.46;
    letter-spacing: normal;
    color: #000000;

}
.poppinsBold40pxLP{
    font-family: PoppinsBold;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.95;
    letter-spacing: normal;
    color: #000000;
}

.poppinsBold40pxLP{
    font-family: PoppinsBold;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.95;
    letter-spacing: normal;
    color: #000000;
}

.poppinsBold24pxLP{
    font-family: PoppinsBold;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #000000;
}


.poppins18{
    font-family: Poppins;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.89;
    letter-spacing: normal;
    color: #2c2c2c;
}


/*=====================================
============= TIPOGRAFIA ==============
======================================*/
