body {
  font-family: Poppins;
  font-weight: 300;
}

.colorPrimario{
    background-color: #000000;
    /* color: #ffffff; */
}
.colorSecundario{
    background-color: #7588b1;
    color: #ffffff;
}

.colorFondoPrimario{
    background-color: #f8f8f8;
}

.textoTitulosSeccion{
    font-family: PoppinsExtramBold;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

    
.etiqueta{
    width: 74px!important;
    height: 30px!important;
    background-color: #bababa!important;
    border-radius: 5px!important;
    -webkit-border-radius: 5px!important;
    -moz-border-radius: 5px!important;
    -ms-border-radius: 5px!important;
    -o-border-radius: 5px!important;
}








/*=====================================
============= TIPOGRAFIA ==============
======================================*/

.poppinsBold18LP{
    font-family: PoppinsBold;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 0px;
}

.poppins15LP{
    font-family: Poppins;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: -0.42px;
    color: #000000;
}

.poppinsSemiBold16LP{
  font-family: PoppinsSemiBold;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000000;

}

.poppins12LP{
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #6f6f6f;
    margin: 0px;
}


.poppinsBold35{
    font-family: PoppinsBold;
    font-size: 35px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: #000000;
}


.poppinsSemiBold24LP{

    font-family: PoppinsSemiBold;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.46;
    letter-spacing: normal;
    color: #000000;

}
.poppinsBold40pxLP{
    font-family: PoppinsBold;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.95;
    letter-spacing: normal;
    color: #000000;
}

.poppinsBold40pxLP{
    font-family: PoppinsBold;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.95;
    letter-spacing: normal;
    color: #000000;
}

.poppinsBold24pxLP{
    font-family: PoppinsBold;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #000000;
}


.poppins18{
    font-family: Poppins;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.89;
    letter-spacing: normal;
    color: #2c2c2c;
}


/*=====================================
============= TIPOGRAFIA ==============
======================================*/
.floatWhats{
    position:fixed;
    width:60px;
    height:60px;
    bottom:20px;
    right:307px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 999;
}

.my-float{
    margin-top:16px;
}

.open-button {
  height: 55px;
  color: white;
  padding: 12px 11px;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 23px;
  right: 15px;
  width: 240px!important;
  z-index: 999;
  }
  
  /* The popup chat - hidden by default */
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 22px;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9999!important;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
  
  /* Add styles to the form container */
  .form-container {
    max-width: 275px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width textarea */
  .form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
  }
  
  /* When the textarea gets focus, do something */
  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/send button */
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

.contenedorChat{
    overflow-y: scroll!important;
    height: 233px;

}
.avatar{
    width: 30px;
    height: 30px;
}

.btnAbrirChat{
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.imgCaht{
  position: relative;
  color: #ffffff;
  width: 35px;
  height: 35px;
  left: -10px;
}
.cabeceraFormulario{
  height: 48px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.cabeceraFormulario h1{
  /* position: relative; */
  font-family: PoppinsBold;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  /* top: 10px;
  left: 12px; */
}

.textoMensajeInicial{
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #6e6e6e;
}

.fa-paper-plane{
  color: #000000!important;
}

