.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .more-less-menu {
    float: right;
    color: #212121;
    font-size: 25px;
}

.borderNavbarHome{
  border-bottom: solid 0.5px #bababa;
  font-family: PoppinsBold!important;
  font-size: 18px!important;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000!important;
}



  @media (max-width: 1199.98px) { 

  }


@media (max-width: 991.98px) { 

 }


 @media (max-width: 767.98px) { 

}

 
@media (max-width: 575.98px) { 

  .sidenav {
    height: 90%;
    top: 94px;
}




}

  