

.contenedorMasVendido{
margin-bottom: 119px;
margin-top: 93px!important;
}
.margenProductos{
    margin-top: 41px!important;
}
.tituloMasVendido{
    font-family: PoppinsExtramBold;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.textoNombreProducto{
    font-family: PoppinsSemiBold;
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #000000;
}
.etiqueta{
    width: 74px!important;
    height: 30px!important;
    background-color: #bababa!important;
    border-radius: 5px!important;
    -webkit-border-radius: 5px!important;
    -moz-border-radius: 5px!important;
    -ms-border-radius: 5px!important;
    -o-border-radius: 5px!important;
}

.textoEtiqueta{

    font-family: Poppins;
    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: 0.01px;
    text-align: center;
    color: #ffffff!important;
    margin-top: 4px!important;

}
.btnMasVendido{
    width: 126px;
    height: 30px;
    border-radius: 5px;
    background-color: #7588b1;

}

.textoBtnMasVendido{
    font-family: PoppinsSemiBold;
    font-size: 11px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: -0.2px;
    color: #ffffff!important;
    text-transform: none;
}

.textoPrecioProducto{
  font-family: Poppins;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #000000;
}

.eliminarSombra {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.0)!important;

}
/*=============================================
ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
=============================================*/

@media (min-width:1200px){

}

/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/

@media (max-width:1199px) and (min-width:992px){



}

/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/

@media (max-width:991px) and (min-width:768px){


    
}

/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/

@media (max-width:767px){

    .tituloMasVendido{
        font-family: PoppinsExtramBold;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
    }

    .textoPrecioProducto{
        font-family: Poppins;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: #000000;
      }  

      
}

