.modal-dialog.cascading-modal {
    margin-top: 3%;
}

.espacioInput {
    margin-bottom: 0.5rem!important;
}


.textCabeceraModales{
    font-family: PoppinsBold;
    font-size: 25px!important;
    font-weight: bold!important;
    font-stretch: normal!important;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #ffffff;
}

.textoSubCabeceraModal{
    font-family: Poppins;
    font-size: 16px!important;
    font-weight: normal!important;
    font-stretch: normal!important;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    color: #ffffff;
}

.estiloInput{
    height: 40px!important;
    border: 1px solid black!important;
}

.estiloInputRegistro{
    height: 26px!important;
    border: 1px solid black!important;
}

.textoNotas{
    font-family: Poppins;
    font-size: 18px!important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #000000!important;
}

.textoNotas-a{
    font-family: Poppins;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.28;
    letter-spacing: normal;
    color: #000000;
}

.titutoInput{
    font-family: PoppinsSemiBold;
    font-size: 14px!important;
    font-weight: 600!important;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #000000!important;
}

.btnIngresar{
    text-transform: none;
    width: 152px;
    height: 45px;
    background-color: #000000;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    border-radius: 8px!important;
    -webkit-border-radius: 8px!important;
    -moz-border-radius: 8px!important;
    -ms-border-radius: 8px!important;
    -o-border-radius: 8px!important;
}

.olvidaste{
    position: relative;
    bottom: 20px;
}

.preguntasLogin{
    font-family: PoppinsSemiBold;
    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    color: #000000;
}

.regresarLogin{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #6f6f6f;
}

/* OFERTA RELAMPAGO */

.colorCabeceraOferta{
    margin: -2rem 0rem 1rem 0rem!important;
    background-color: rgb(248, 3, 3);
}

.colorCuerpoOferta{
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(104deg, #00ffdd -10%, #616161 116%);
}

.modalRelampago{
    width: 500px!important; 
}

.modalRelampago .modal-content{
padding: 0px 10px!important;
}


/* OFERTA RELAMPAGO */