.contenedorCategorias {
    height: 99px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.logoInicial {
    margin-left: 8%!important;
     margin-top: 10px;
}

.categoriasNavbar {
	border-bottom: 0px solid #ffff!important;
	max-width: 50%!important;
	margin-left: 27px;
    margin-right: 20px;
    margin-bottom: -1rem!important;
}

.textoTitulosCategorias {
	font-family: PoppinsExtramBold;
	font-size: 15px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.13!important;
	letter-spacing: 0.11px!important;
	color: #000000!important;
}



/* Mega Menu */
.dropdown:hover .dropdown-menu {
	display: block;
}

.dropdown-toggle::after {
	display: none!important;
}


/* BUSQUEDA FABORITOS CARRTIO */
.right-inner-addon {
	position: relative;
    width: 160px;
}

.right-inner-addon input {
	width: 120px;
	height: 20px!important;
}

.verMisFavoritos {
    position: relative;
    top: 20px;
}

.verCarritoCompras {
	position: relative;
	top: 20px;
}

.cantidadCarrito{
    position: relative;
	top: 20px;
}



/*=============================================
ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
=============================================*/

@media (min-width:1200px){


}

/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/

@media (max-width:1199px) and (min-width:992px){

}

/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/

@media (max-width:991px) and (min-width:768px){



}

/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/

@media (max-width:767px){

    .contenedorCategorias {
        height: 60px;
    }
    
    .logoInicial {
        margin-left: 3%!important;
    }

    .iconos {
        position: relative;
        top: -20px;
        left: 20%;
    }


    .corazon {
        left: 80px;
        width: 20px;
        height: 18px;
    }

    .carrito {
        left: 84px;
        width: 24px;
        height: 20px;
    }

    .carritoCantidad{
        position: relative;
        top: 20px;
    }



	
}

