.contenedorCategorias {
    height: 99px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.logoInicial {
    margin-left: 8%!important;
     margin-top: 10px;
}

.categoriasNavbar {
	border-bottom: 0px solid #ffff!important;
	max-width: 50%!important;
	margin-left: 27px;
    margin-right: 20px;
    margin-bottom: -1rem!important;
}

.textoTitulosCategorias {
	font-family: PoppinsExtramBold;
	font-size: 15px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.13!important;
	letter-spacing: 0.11px!important;
	color: #000000!important;
}



/* Mega Menu */
.dropdown:hover .dropdown-menu {
	display: block;
}

.dropdown-toggle::after {
	display: none!important;
}


/* BUSQUEDA FABORITOS CARRTIO */
.right-inner-addon {
	position: relative;
    width: 160px;
}

.right-inner-addon input {
	width: 120px;
	height: 20px!important;
}

.verMisFavoritos {
    position: relative;
    top: 20px;
}

.verCarritoCompras {
	position: relative;
	top: 20px;
}

.cantidadCarrito{
    position: relative;
	top: 20px;
}



/*=============================================
ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
=============================================*/

@media (min-width:1200px){


}

/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/

@media (max-width:1199px) and (min-width:992px){

}

/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/

@media (max-width:991px) and (min-width:768px){



}

/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/

@media (max-width:767px){

    .contenedorCategorias {
        height: 110px;
    }
    
    .logoInicial {
        margin-left: 3%!important;
    }

    /* BUSQUEDA FABORITOS CARRTIO */
    .right-inner-addon {
        position: relative;
        width: 35px;
    }
    .right-inner-addon input {
        width: 90px;
        height: 20px!important;
    }

    .corazon {
        left: 80px;
        width: 20px;
        height: 18px;
    }

    .carrito {
        left: 84px;
        width: 24px;
        height: 20px;
    }

    .carritoCantidad{
        position: relative;
        top: 20px;
    }


    .carritoCantidad{
        position: relative;
        left: 83px;
    }

    .skin-light .navbar {
        min-height: 20px;
        padding: 0px;
        -webkit-box-shadow: 0px 0px 0px 0 rgba(0, 4, 255, 0);
        box-shadow: 0 13px 20px 0 rgba(243, 0, 0, 0);
        z-index: 9999999;
    }

    .categoriasNavbar {
        max-width: 100%!important;
    }

    .iconos{
        position: relative;
        top: 10px;
        left: 3%;
    }

    .textoTitulosCategorias {
        font-family: PoppinsExtramBold;
        font-size: 17px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.13!important;
        letter-spacing: 0.11px!important;
        color: #ffffff!important;
    }
        

	
}

