
.navbarLogin{
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding-left: 70px!important;
    }

    .waves-effect {
        padding: 8px!important;
    }




/*Quitamos padding y box-shadow de los navbar */
.skin-light .navbar {
    min-height: 20px;
    padding: 0px;

    -webkit-box-shadow: 0px 0px 0px 0 rgba(0, 4, 255, 0);
    box-shadow: 0 13px 20px 0 rgba(243, 0, 0, 0);
}

/*Agegamos bordes al navbar login*/
.textoNavbarLogin li{
    border-left: 2px solid rgba(0, 0, 0, 0.1);
    margin:0 6px;
}

/*Agegamos bordes al navbar login (solo al primero)*/
.justify-content-center>.navbar-nav >.nav-item:nth-child(1){
    border-left: 0px solid black;
}

#buscar::placeholder  {  

    text-align: right!important; 
} 



.textoNavbarLogin li a small{

    font-family: Poppins!important;
    font-size: 13px!important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.77;
    letter-spacing: -0.09px;
    text-align: center;
    color: #6f6f6f!important;
}

.negritasNavbarLogin{
    font-family: PoppinsBold!important;
    font-size: 13px!important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.77;
    letter-spacing: -0.09px;
    text-align: center;
    color: #6f6f6f!important;
}

.textoCapturaPedido{
    font-family: Poppins;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.92;
    letter-spacing: -0.17px;
    text-align: center;
    color: #ffffff;
    background-color: black;
    padding: 0px 17px;
}









/*=============================================
ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
=============================================*/

@media (min-width:1200px){

}

/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/

@media (max-width:1199px) and (min-width:992px){

  


}

/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/

@media (max-width:991px) and (min-width:768px){

    
}

/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/

@media (max-width:767px){

   
        
}

