.contenedorSuscripcion{
    position: relative;
}
.suscripcion{
    position: absolute;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
    background-color: #f3f3f3;
    top:-75px
}

.textoSuscripcion{
    font-family: Poppins;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    color: #000000;
}

input{
    height: 50px!important;
}

.btnSuscripcion{
    width: 150px;
    height: 48px;
    background-color: #7588b1;
    font-family: PoppinsBold!important;
    font-size: 16px!important;
    font-weight: bold!important;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}



.custom-control-label{
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #000000;
}

    
/*=============================================
ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
=============================================*/

@media (min-width:1200px){

}

/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/

@media (max-width:1199px) and (min-width:992px){




}

/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/

@media (max-width:991px) and (min-width:768px){

    
}

/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/

@media (max-width:767px){

    .suscripcion{
        position: relative!important;
        height: 260px;
        border-radius: 10px;
        box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
        background-color: #f3f3f3;
        top:0px;
        padding-top: 32px;
    }


 
}
