.wrap {
  max-width: 1000px;
  margin: 0 auto;
}

.glide__slide {
  border: 1px solid black;
  text-align: center;
}


.glide__slide a img{
  filter: grayscale(1);

}


.carruselM .glide__slides {
  background-color: #f3f1f1;
  margin-top: 40px;
  padding: 20px 0;
}
.carruselM .glide__slide {
  position: relative;
  height: 60px;
  border: none;
}
.carruselM a {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.carruselM img {
  margin: 0 auto;
  display: block;
  max-width: 70%;
  max-height: 60px;
}

button.glide__arrow {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 11px;
}
button.glide__arrow--left {
  left: -60px;
}
button.glide__arrow--right {
  right: -60px;
}

.fa-chevron-left,.fa-chevron-right{
  color: black;
  font-size: 30px;

}