.textoTarjetaCatalogos {
	font-family: PoppinsBold;
	font-size: 18px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.7;
	letter-spacing: normal;
	color: #000000;
}

.textoTarjetaCatalogosVer {
	font-family: PoppinsSemiBold;
	font-size: 18px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.50;
	letter-spacing: normal;
	color: #7588b1!important;
	text-decoration: none;
	text-transform: none;
}


/*Imagenes de tarjetas catálogos*/

.imgRadiusCatalogo {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 90%;
	top: -45px;
	position: relative;
	align-self: center;
	border-radius: 25px;
	left: 5%;
	height: 300px;
	width: 90%;
}

.sombraTarjeta {
	box-shadow: 0 6px 17px 0 rgb(0 0 0 / 44%)!important;
	min-width: 250px;
}


/*=============================================
ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
=============================================*/

@media (min-width:1200px) {}


/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/

@media (max-width:1199px) and (min-width:992px) {
	.sombraTarjeta {
		min-width: 225px;
	}
	.textoTarjetaCatalogos {
		font-size: 16px;
		line-height: 1.5;
	}
	.textoTarjetaCatalogosVer {
		font-size: 25px;
	}
	.imgRadiusCatalogo {
		height: 277px;
		border-radius: 10px!important;
		-webkit-border-radius: 10px!important;
		-moz-border-radius: 10px!important;
		-ms-border-radius: 10px!important;
		-o-border-radius: 10px!important;
	}
}


/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/

@media (max-width:991px) and (min-width:768px) {
	.imgRadiusCatalogo {
		height: 365px;
	}
	.textoTarjetaCatalogos {
		font-size: 24px;
	}
	.textoTarjetaCatalogosVer {
		font-size: 30px;
	}
}


/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/

@media (max-width:767px) {}


/*=============================================
MOVIL (XS revisamos en 576px)
=============================================*/

@media (max-width: 576px) {
	.sombraTarjeta {
		min-width: 100%;
	}
	.imgRadiusCatalogo {
		height: 180px;
		width: 90%;
		top: -20px;
		border-radius: 10px!important;
		-webkit-border-radius: 10px!important;
		-moz-border-radius: 10px!important;
		-ms-border-radius: 10px!important;
		-o-border-radius: 10px!important;
	}
	.textoTarjetaCatalogos {
		font-size: 13px;
		line-height: 1.2;
	}
	.textoTarjetaCatalogosVer {
		font-size: 14px;
	}
}

@media (max-width: 350px) {
	.imgRadiusCatalogo {
		height: 140px;
	}
	.textoTarjetaCatalogos {
		font-size: 10px;
	}
	.textoTarjetaCatalogosVer {
		font-size: 11px;
	}
}