

.textoTarjetaCatalogos {
	font-family: PoppinsBold;
	font-size: 18px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.7;
	letter-spacing: normal;
	color: #000000;
}

.textoTarjetaCatalogosVer {
	font-family: PoppinsSemiBold;
	font-size: 18px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.50;
	letter-spacing: normal;
	color: #7588b1!important;
	text-decoration: none;
	text-transform: none;
}


/*Imagenes de tarjetas catálogos*/

.imgRadiusCatalogo {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 90%;
	top: -45px;
	position: relative;
	align-self: center;
	border-radius: 25px;
	left: 5%;
	height: 330px;
	width: 90%;
}

.sombraTarjeta{
	box-shadow: 0 6px 17px 0 rgb(0 0 0 / 44%)!important;
	min-width: 250px;
}


 

/*=============================================
ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
=============================================*/

@media (min-width:1200px){

}

/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/

@media (max-width:1199px) and (min-width:992px){




}

/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/

@media (max-width:991px) and (min-width:768px){

    
}

/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/

@media (max-width:767px){

	.sombraTarjeta {
		min-width: 100%;
	}

	.imgRadiusCatalogo {
	
		height: 225px;
		width: 90%;
	}


 
}
