.tituloCatalogos {
	font-family: PoppinsExtramBold;
	font-size: 40px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #000000;
	margin-top: 86px;
	margin-bottom: 45px;
}

.textoTarjetaCatalogos {
	font-family: PoppinsBold;
	font-size: 18px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.7;
	letter-spacing: normal;
	color: #000000;
}

.textoTarjetaCatalogosVer {
	font-family: PoppinsSemiBold;
	font-size: 18px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.50;
	letter-spacing: normal;
	color: #7588b1!important;
	text-decoration: none;
	text-transform: none;
}


/*Imagenes de tarjetas catálogos*/

.imgRadiusCatalogo {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 90%;
	top: -45px;
	position: relative;
	align-self: center;
	border-radius: 25px;
	left: 5%;
	height: auto;
	width: 90%;
}


 

/*=============================================
ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
=============================================*/

@media (min-width:1200px){

}

/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/

@media (max-width:1199px) and (min-width:992px){




}

/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/

@media (max-width:991px) and (min-width:768px){

    
}

/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/

@media (max-width:767px){

	.tituloCatalogos {
		font-family: PoppinsExtramBold;
		font-size: 20px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #000000;
		margin-top: 46px;
		margin-bottom: 45px;
	}

	.textoTarjetaCatalogos {
		font-family: PoppinsBold;
		font-size: 14px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1;
		letter-spacing: normal;
		color: #000000;
	}
	
	.textoTarjetaCatalogosVer {
		font-family: PoppinsSemiBold;
		font-size: 14px;
		font-weight: 600;
		font-stretch: normal;
		font-style: normal;
		line-height: 2.50;
		letter-spacing: normal;
		color: #7588b1!important;
		text-decoration: none;
		text-transform: none;
	}

	
	.imgRadiusCatalogo {
		-ms-flex-negative: 0;
		flex-shrink: 0;
		width: 90%;
		top: -25px;
		position: relative;
		align-self: center;
		border-radius: 25px;
		left: 5%;
		height: 188px;
		width: 90%;
	}




 
}
