.rowFlotante3 {
    position: relative;
    height: 440px;
    bottom: 115px;
}

.bloqueFlotante-b1{
    position: absolute;
    width: 96%;
    height: 120%;
    z-index: 999;
    padding: 20px;
    bottom: 20px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(117deg, #774363 -5%, #c26ea2 97%);
    border-radius: 20px!important;
    -webkit-border-radius: 20px!important;
    -moz-border-radius: 20px!important;
    -ms-border-radius: 20px!important;
    -o-border-radius: 20px!important;
}

.bloqueFlotante-b2{
    position: absolute;
    width: 96%;
    height: 120%;
    z-index: 999;
    padding: 20px;
    bottom: 20px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(115deg, #1653a1 21%, #263c84 103%);
    border-radius: 20px!important;
    -webkit-border-radius: 20px!important;
    -moz-border-radius: 20px!important;
    -ms-border-radius: 20px!important;
    -o-border-radius: 20px!important;
}

.bloqueFlotante-b3{
    position: absolute;
    width: 96%;
    height: 120%;
    z-index: 999;
    padding: 20px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(51deg, #610e13 -11%, #a42038 64%);
    border-radius: 20px!important;
    -webkit-border-radius: 20px!important;
    -moz-border-radius: 20px!important;
    -ms-border-radius: 20px!important;
    -o-border-radius: 20px!important;
}

.bloqueFlotante-b4{
    position: absolute;
    width: 96%;
    height: 120%;
    z-index: 999;
    padding: 20px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
    background-image: radial-gradient(circle at 11% 1%, #cc6930 23%, #6c3a1b 126%);
    border-radius: 20px!important;
    -webkit-border-radius: 20px!important;
    -moz-border-radius: 20px!important;
    -ms-border-radius: 20px!important;
    -o-border-radius: 20px!important;
}




.btnGeneralFlotante-b{
    position: relative;
    bottom: -30px;
    width: 166px;
    height: 52px;
    font-family: PoppinsBold;
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-transform: none;
    border-radius: 10px!important;
    -webkit-border-radius: 10px!important;
    -moz-border-radius: 10px!important;
    -ms-border-radius: 10px!important;
    -o-border-radius: 10px!important;
}

.btnImgFlotante1-b{
    background-color: #e98dc6;
}

.btnImgFlotante2-b{
    background-color: #4c84d1;
}

.btnImgFlotante3-b{
    background-color: #e62346;
}

.btnImgFlotante4-b{
    background-color: #e57b3e;
}