.rowFlotante{
    position: relative;
    height: 440px;
}

.rowAnidado-a{
    height: 100%;
}

.bloqueFlotante-a1{
    position:absolute;
    border-radius: 20px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
    background-image: radial-gradient(circle at 11% 1%, #ebb674, #c99b63 128%);
    width:95%;
    height:120%;
    left: 0%;
    bottom: 70px;
    z-index: 999;
    padding: 6%;
}

.bloqueFlotante-a2{
    position:absolute;
    border-radius: 20px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(139deg, #1653a1 20%, #263c84 102%);
    width:90%;
    height:120%;
    left: 0%;
    bottom: 70px;
    z-index: 999;
    padding: 6%;
}

.bloqueFlotante-a3{
    position:absolute;
    border-radius: 20px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
    background-image: radial-gradient(circle at 11% 1%, #c2bba1, #877548 119%);
    width:90%;
    height:120%;
    left: 0%;
    bottom: 70px;
    z-index: 999;
    padding: 6%;
}

.bloqueFlotante-a4{
    position:absolute;
    border-radius: 20px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
    background-image: radial-gradient(circle at 11% 1%, #cc6930 23%, #6c3a1b 128%);
    width:95%;
    height:120%;
    left: 0%;
    bottom: 0px;
    z-index: 999;
    padding: 6%;
}

.bloqueFlotante-a5{
    position:absolute;
    border-radius: 20px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(113deg, #774363 -6%, #c26ea2 98%);
    width:95%;
    height:120%;
    left: 0%;
    bottom: 0px;
    z-index: 999;
    padding: 6%;
}

.titulosFlotantes-a{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.94;
    letter-spacing: 0.13px;
    color: #ffffff;
}

.subTitulosFlotantes1-a{
    font-family: PoppinsSemiBold;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #ffffff;
}
.subTitulosFlotantes2-a{
    font-family: PoppinsExtramBold;
    font-size: 50px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.8;
    letter-spacing: normal;
    color: #ffffff;
}

.btnGeneralFlotante-a{
    position: relative;
    width: 166px;
    height: 52px;
    text-transform: none;
    font-family: PoppinsBold;
    font-size: 17px!important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    color: #ffffff!important;
    margin-bottom: 0px!important;
    border-radius: 11px!important;
    -webkit-border-radius: 11px!important;
    -moz-border-radius: 11px!important;
    -ms-border-radius: 11px!important;
    -o-border-radius: 11px!important;
}


.btnGeneralFlotante-a2{
    position: relative;
    width: 122px;
    height: 38px;
    text-transform: none;
    font-family: PoppinsBold;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.btnImgFlotante1-a{
    background-color: #e4c49c;
}

.btnImgFlotante2-a{
    background-color: #4c84d1;
}

.btnImgFlotante3-a{
    background-color: #c9be9b;
}

.btnImgFlotante4-a{
    background-color: #e57b3e;
}

.btnImgFlotante5-a{
    background-color: #e98dc6;
}

.contenedorImgFlotante-a2{
width: 140px;
height: 125px;
}