.textoDatosF{
  font-family: PoppinsBold;
  font-size: 13px!important;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.13;
  letter-spacing: normal;
  color: #2c2c2c;
  margin: 0px;
}

.textoDatosFac{
    font-family: PoppinsBold;
    font-size: 22px!important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #000000;
}




.estiloInputDatosFacturacion{
    height: 35px!important;
    border: solid 1px #000000!important;
    border-radius: 6px!important;
    -webkit-border-radius: 6px!important;
    -moz-border-radius: 6px!important;
    -ms-border-radius: 6px!important;
    -o-border-radius: 6px!important;
    background-color: rgb(255, 255, 255);
}



.estiloInputDatosFacturacion::-webkit-input-placeholder {
     font-family: PoppinsBold;
  font-size: 13px!important;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.13;
  letter-spacing: normal;
 
  }

  .estiloInputDatosFacturacion::-webkit-input-placeholder {
     font-family: PoppinsBold;
  font-size: 13px!important;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.13;
  letter-spacing: normal;
   
}
.estiloInputDatosFacturacion:-moz-placeholder {
     font-family: PoppinsBold;
  font-size: 13px!important;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.13;
  letter-spacing: normal;
}
.estiloInputDatosFacturacion::-moz-placeholder {
     font-family: PoppinsBold;
  font-size: 13px!important;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.13;
  letter-spacing: normal;
}
.estiloInputDatosFacturacion:-ms-input-placeholder {
     font-family: PoppinsBold;
  font-size: 13px!important;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.13;
  letter-spacing: normal;
}

.botonesDatosFac{
    width: 242px;
    height: 45px;
    border-radius: 8px;
    font-family: PoppinsSemiBold;
    font-size: 14px!important;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-transform: none;
}

.optgroup {
  font-family: PoppinsSemiBold;
  font-size: 14px!important;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
}

button, input, optgroup, select, textarea {
  font-family: PoppinsBold;
  font-size: 13px!important;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.13;
  letter-spacing: normal;
}



/*=============================================
ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
=============================================*/

@media (min-width:1200px){
  
}

/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/

@media (max-width:1199px) and (min-width:992px){


   
}

/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/

@media (max-width:991px) and (min-width:768px){

}

/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/

@media (max-width:767px){
  .botonesDatosFac {
    width: 207px;
    height: 45px;
    font-size: 12px!important;
  }

  .aux-df{
    padding: 0px!important;
  }

}
 

/*=============================================
MOVIL (XS revisamos en 576px)
=============================================*/
@media (max-width: 576px) { 
  .textoDatosFac {
    font-size: 19px!important;
}

.custom-control-label {
  font-size: 12px;
}

.botonesDatosFac {
  width: 229px;
  height: 45px;
  font-size: 13px!important;
}
    
}

@media (max-width: 350px) {
  .botonesDatosFac {
    width: 193px;
    height: 45px;
    font-size: 12px!important;
}


}

@media (max-width: 290px) {
  .botonesDatosFac {
    width: 129px;
    height: 45px;
    font-size: 10px!important;
}

.textoDatosFac {
  font-size: 14px!important;
}

}

