/*DIRECCIONES--DIRECCIONES---DIRECCIONES---DIRECCIONES---DIRECCIONES---DIRECCIONES*/
/*DIRECCIONES--DIRECCIONES---DIRECCIONES---DIRECCIONES---DIRECCIONES---DIRECCIONES*/

.accionesDireccion{
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #9b9b9b;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff!important;
    border-color: #000000!important;
    background-color: #000000!important;
}

.btnAgregarDireccion{
    width: 289px!important;
    height: 45px!important;
  
    font-family: PoppinsSemiBold;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center; 
    color: #ffffff;
  
    text-transform: none;
    border-radius:8px!important;
    -webkit-border-radius:8px!important;
    -moz-border-radius:8px!important;
    -ms-border-radius:8px!important;
    -o-border-radius:8px!important;
}

/*=============================================
ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
=============================================*/

@media (min-width:1200px){
  
}

/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/

@media (max-width:1199px) and (min-width:992px){


   
}

/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/

@media (max-width:991px) and (min-width:768px){

}

/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/

@media (max-width:767px){

    .aux-1-dr{
        padding:20px 15px 15px 15px!important;
    }

}
 

/*=============================================
MOVIL (XS revisamos en 576px)
=============================================*/
@media (max-width: 576px) { 

    .btnAgregarDireccion {
        width: 238px!important;
        height: 42px!important;
        font-size: 14px;

    }

    
    .aux-1-dr{
        padding:20px 15px 15px 15px!important;
    }
    
}

@media (max-width: 350px) {
    .btnAgregarDireccion {
        width: 169px!important;
        height: 39px!important;
        font-size: 9px!important;
    }

}

@media (max-width: 290px) {


}
