.textoListaDeseos {
    font-family: PoppinsBold;
    font-size: 22px!important;
    font-weight: bold!important;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #000000;
}