.textoSN {
	font-family: PoppinsBold;
	font-size: 22px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1;
	letter-spacing: normal;
	color: #000000;
}

.btnSN {
	width: 175px;
	height: 35px;
	border-radius: 8px;
	font-family: Poppins;
	font-size: 14px!important;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.43;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
	text-transform: none;
	margin-top: 40px!important;
}

.textoSN1 {
	font-family: Poppins!important;
	font-size: 16px!important;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	color: #2c2c2c!important;
}


/*=============================================
ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
=============================================*/

@media (min-width:1200px) {}


/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/

@media (max-width:1199px) and (min-width:992px) {}


/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/

@media (max-width:991px) and (min-width:768px) {}


/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/

@media (max-width:767px) {}


/*=============================================
MOVIL (XS revisamos en 576px)
=============================================*/

@media (max-width: 576px) {}

@media (max-width: 350px) {}

@media (max-width: 290px) {
	.btnSN {
		width: 121px;
		height: 35px;
		font-size: 14px!important;
	}
	.textoSN1 {
		font-size: 11px!important;
	}
	.textoSN {
		font-size: 17px;
	}
}